input{
    height: 3rem;
    width: 20rem;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

textarea{
    height: 10rem;
    width: 20rem;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.about{
    justify-content: space-around;
}

button{
    margin: 1rem;
}
