*{
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: white;

}
.logo img{
    height: 2rem;
    width: auto;
    margin: 0.2rem;
}
.Top div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 10px solid black; */
    background-color: black;
    height: 5rem;
    padding: 0 3rem;
}
.logo h1{
    color: white;
}
.Top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 1rem;
}
.menu{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}
.menu a{
    margin: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.08rem;
    font-weight: 400;
}
#name{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#name p{
    width: 100%;
    text-align: left;
}
.lang{
    margin: 1rem;
}
.main div{
    justify-content: center;
}
.page1{
    background-color: #101010;
    display: flex;
    flex-direction: row;
    height: 40rem;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.left h1{
    font-size: 2.5rem;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.right h1{
    font-size: 2.5rem;
}
.main{
     border-radius: 50%;
     border: 2px solid #101010;
     box-shadow: -2px 2px 2px #287a65;
     height: 35rem;
     width: 35rem;
     background-color: #0d0d0d;
     display: flex;
     flex-direction: column;
     overflow: hidden;
     justify-content: center;
     align-items: center;
}
.main p{
    margin: 8%;
    
}
#para{
    width: 22rem;
    text-align: center;
}
.high {
    font-size: 3.2rem;
    width: 20rem;
}
.details{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
}
.bank{
    border: 2px solid black;
     height: 6rem; 
      width: 12rem; 
      border-radius: 8%;
      background-color: #287a65;
}